<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="js/books.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        .btn-group-vertical {
            padding-left: 10px;
            margin-left: auto;
        }

        #tableSearch {
            margin-top: 1rem;
        }

        #container {
            padding-top: 80px;
            height: 100%;
            width: 100%;
            font-size: 0;
        }

        #left, #middle, #right {
            display: inline-block;
            *display: inline;
            zoom: 1;
            vertical-align: top;
            font-size: 12px;
        }

        #left {
            width: 20%;
        }

        #middle {
            width: 70%;
        }

        #right {
            width: 5%;
        }

        #searchForm {
            margin-top: 30px;
        }

        #success-add-label {
            margin: 10px auto auto;
        }

        #success-update-label {
            margin: 10px auto auto;
        }

        #success-delete-label {
            margin: 10px auto auto;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Library 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item active nav-link" href="/">Books</a>
            <a class="nav-item nav-link" href="/readers">Readers</a>
        </div>
    </div>

    <form class="form-inline my-2 my-lg-0" action="/logout">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        <button hidden class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
</nav>

<div id="container">

    <div id="left">
        <div class="btn-group-vertical">
            <button id="allBtn" class="btn-lg btn-secondary btn-block" onclick="onAllBooksPressed()" type="submit">
                All books
            </button>
            <button id="infoBtn" class="btn-lg btn-secondary mt-3 btn-block" onclick="onInfoPressed()" type="submit">
                Book info
            </button>
            <button id="addBtn" class="btn-lg btn-secondary mt-3 btn-block" onclick="onAddPressed()" type="submit">Add
                book
            </button>
            <button id="updBtn" class="btn-lg btn-secondary mt-3 btn-block" onclick="onUpdatePressed()" type="submit">
                Update code
            </button>
            <button id="deleteBtn" class="btn-lg btn-secondary mt-3 btn-block" onclick="onDeletePressed()"
                    type="submit">Delete book
            </button>
        </div>
    </div>

    <div id="middle">

        <div id="content">
            <template id="table-template">
                <span style="font-size: large; font-family: Arial Black,monospace; ">
                <table id="table" class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </span>
            </template>
            <template id="search-template">
                <div id="searchForm">
                    <div class="card bg-secondary" style="width: 20rem;">

                        <div class="form-group">
                            <input class="form-control" id="codeInput" placeholder="Book code">
                        </div>
                        <button type="submit" onclick="onSearchButtonPressed()" class="btn btn-primary">Search</button>

                    </div>


                    <div id="tableSearch">
            <span style="font-size: large; font-family: Arial Black,monospace; ">
                <table id="table-search" class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Code</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                </span>
                    </div>

                </div>
            </template>
            <template id="add-template">
                <div id="add-card">
                    <div class="add-card">
                        <div class="card bg-secondary p-3">

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 text-light col-form-label-lg">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputCode" class="col-sm-2  text-light col-form-label-lg">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCode" placeholder="Code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAuthor" class="col-sm-2 text-light col-form-label-lg">Author</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAuthor" placeholder="Author">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button onclick="onAddPerformed()" type="button" class="btn btn-primary w-25">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="success-add-label" hidden>
                        <div class="card bg-success w-25 d-flex justify-content-center">
                            <h5 class="text-center text-light">Success</h5>
                        </div>
                    </div>
                </div>
            </template>
            <template id="update-template">
                <div id="update-card">
                    <div class="update-card">
                        <div class="card bg-secondary p-3">

                            <div class="form-group row">
                                <label for="old-code" class="col-sm-2 text-light col-form-label-lg">Previous
                                    code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="old-code" placeholder="Code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="new-code" class="col-sm-2  text-light col-form-label-lg">New code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="new-code" placeholder="Code">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button onclick="onUpdatePerformed()" type="button" class="btn btn-primary w-25">Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="success-update-label" hidden>
                        <div class="card bg-success w-25 d-flex justify-content-center">
                            <h5 class="text-center text-light">Success</h5>
                        </div>
                    </div>
                </div>
            </template>
            <template id="delete-template">
                <div id="delete-card">
                    <div class="update-card">
                        <div class="card bg-secondary p-3">

                            <div class="form-group row">
                                <label for="delete-code" class="col-sm-2 text-light col-form-label-lg">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="delete-code" placeholder="Code">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button onclick="onDeletePerformed()" type="button" class="btn btn-danger w-25">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="success-delete-label" hidden>
                        <div class="card bg-success w-25 d-flex justify-content-center">
                            <h5 class="text-center text-light">Success</h5>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

</body>
</html>